// Colours.
$color-purple: #d81e5b;
$color-lblue: #CCDBDC;
$color-blue: #80CED7;
$color-dgreen: #263D42;

// Fonts.
$font-heading: "Expletus Sans", "Helvetica", Arial, sans-serif;
// $font-body: "Josefin Sans", Arial, sans-serif;
$font-body: "Josefin Sans", sans-serif;
